* {
    box-sizing: border-box;
}

body {
    font-family: SansSerif, Helvetica;
    margin: 0;
}

.header2 {
    padding: 220px;
    background-image: url("ladydy.jpg");
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
}
.header2 h1 {
    font-size: 70px;
    color: #000000;
}

.display {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.notmain1 {
    text-align: center;
    -ms-flex: 33%;
    flex: 33%;
    background-color: #ffffff;
    padding: 20px;
    font-size: 18px;
}

.main {
    text-align: center;
    -ms-flex: 33%;
    flex: 33%;
    background-color: white;
    padding: 20px;
    font-size: 18px;
}

.notmain2 {
    text-align: center;
    -ms-flex: 33%;
    flex: 33%;
    background-color: #ffffff;
    padding: 20px;
    font-size: 18px;
}


.image {
    transition: 1s;
}

.image:hover {
    transform: scale(1.1);
}


.Register {
    background-color: rgba(65, 2, 70, 0.93);
    padding: 50px;
    text-align: center;
    text-decoration: none;
}

.Register h2 {
    color: white;
}

.footer {
    padding: 30px;
    background: #0a0707;
}

.footer h2 {
    text-align: right;
    color: #f1f1f1;
    font-size: 15px;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #410246;
    height: 70px;
}
a {
    text-decoration: none;
    background: #410246;
    color:#fff;
    padding:10px 15px;
    font-family: arial;
    line-height: 50px;
    display: block;
    border-right: 1px solid #e6d2b0;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
    background: #1b011c;
}
li {
    float:left;
    position:relative;
}


li > ul {
    position:absolute;
    top: 70px;
    display:none;
}


li:hover > ul {
    display:block;
    width:250px;
    opacity: 100%;
}
li:hover > ul > li {
    float:none;
}