* {
    box-sizing: border-box;
}

body {
    font-family: SansSerif, Helvetica;
    margin: 0;
}


.header {
    padding: 197px;
    background-image: url("zendaya.jpg");
    background-size: 100%;
    text-align: center;
}

.header h1 {
    font-size: 70px;
    color: #a80505;
}


.button1 {
    background-color: #000000;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #000000;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}


.footer {
    padding: 30px;
    background: #0a0707;
}

.footer h2 {
    text-align: right;
    color: #f1f1f1;
    font-size: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #1e1616;
    height: 70px;
}
a {
    text-decoration: none;
    background: #1e1616;
    color:#fff;
    padding:10px 15px;
    font-family: arial;
    line-height: 50px;
    display: block;
    border-right: 1px solid #e6d2b0;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
    background: #000000;
}
li {
    float:left;
    position:relative;
}

li > ul {
    position:absolute;
    top: 70px;
    display:none;
}

li:hover > ul {
    display:block;
    width:250px;
}
li:hover > ul > li {
    float:none;
}









